
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">``
    <![endif]-->
    <title>Login</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/theme-style.css">
    <link rel="stylesheet" href="css/ie.style.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.css">
    <![endif]-->
    <script src="js/vendor/modernizr.js"></script>
    <!--[if IE 8]><script src="js/vendor/less-1.3.3.js"></script><![endif]-->
    <!--[if gt IE 8]><!--><script src="js/vendor/less.js"></script><!--<![endif]-->

</head>
<body class="body-bg">
<!-- Header-->
<header id="header">
    <div class="header-top-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top-welcome hidden-xs hidden-sm">
                        <p>Welcome Effect Template &nbsp;&nbsp;<i class="fa fa-phone"></i> 707-505-8008 &nbsp; <i class="fa fa-envelope"></i> support@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <!-- header - language -->
                        <div id="lang" class="pull-right">
                            <a href="#" class="lang-title"><img src="img/f-gb.png" alt="English" title="English"> English <i class="fa fa-angle-down"></i> </a>
                            <ul class="list-unstyled lang-item">
                                <li class="active"><a href=""><img src="img/f-gb.png" alt="English" title="English"> Spanish</a></li>
                                <li><a href=""><img src="img/f-fr.png" alt="French" title="French"> French</a></li>
                            </ul>
                        </div>
                        <!-- /header - language -->

                        <!-- header - currency -->
                        <div id="currency" class="pull-right">
                            <a href="" class="currency-title">$ USD <i class="fa fa-angle-down"></i> </a>
                            <ul class="list-unstyled currency-item">
                                <li><a href="">€ EURO</a></li>
                                <li><a href="">£ POUND</a></li>
                            </ul>
                        </div>
                        <!-- /header - currency -->

                        <!-- header-account menu -->
                        <div id="account-menu" class="pull-right">
                            <a href="" class="account-menu-title"><i class="fa fa-user"></i>&nbsp; Account <i class="fa fa-angle-down"></i> </a>
                            <ul class="list-unstyled account-menu-item">
                                <li><a href=""><i class="fa fa-heart"></i>&nbsp; Wishlist</a></li>
                                <li><a href=""><i class="fa fa-check"></i>&nbsp; Checkout</a></li>
                                <li><a href=""><i class="fa fa-shopping-cart"></i>&nbsp; Cart</a></li>
                            </ul>
                        </div>
                        <!-- /header-account menu -->

                        <!-- header - currency -->
                        <div class="socials-block pull-right">
                            <ul class="list-unstyled list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                        <!-- /header - currency -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /header-top-row -->
    <div class="header-bg">
        <div class="header-main" id="header-main-fixed">
            <div class="header-main-block1">
                <div class="container">
                    <div id="container-fixed">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="index.html" class="header-logo"> <img src="img/logo-big-shop.png" alt=""></a>
                            </div>
                            <div class="col-md-5">
                                <div class="top-search-form pull-left">
                                    <form action="#" method="post">
                                        <input type="text" placeholder="Search ..." class="form-control">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="header-mini-cart  pull-right">
                                    <a href="#"  data-toggle="dropdown">
                                        Shopping cart
                                        <span>0 item(s)-0.00</span>
                                    </a>
                                    <div class="dropdown-menu shopping-cart-content pull-right">
                                        <div class="shopping-cart-items">
                                            <div class="item pull-left">
                                                <img src="http://placehold.it/56x70" alt="Product Name" class="pull-left">
                                                <div class="pull-left">
                                                    <p>Product Name</p>
                                                    <p>$251.00&nbsp;<strong>x 3</strong></p>
                                                </div>
                                                <a href="" class="trash"><i class="fa fa-trash-o pull-left"></i></a>
                                            </div>
                                            <div class="item pull-left">
                                                <img src="http://placehold.it/56x70" alt="Product Name" class="pull-left">
                                                <div class="pull-left">
                                                    <p>Product Name</p>
                                                    <p>$77.05&nbsp;<strong>x 1</strong></p>
                                                </div>
                                                <a href="" class="trash"><i class="fa fa-trash-o pull-left"></i></a>
                                            </div>
                                            <div class="item pull-left">
                                                <img src="http://placehold.it/56x70" alt="Product Name" class="pull-left">
                                                <div class="pull-left">
                                                    <p>Product Name</p>
                                                    <p>$50.10&nbsp;<strong>x 8</strong></p>
                                                </div>
                                                <a href="" class="trash"><i class="fa fa-trash-o pull-left"></i></a>
                                            </div>
                                            <div class="total pull-left">
                                                <table>
                                                    <tbody class="pull-right">
                                                    <tr>
                                                        <td><b>Sub-Total:</b></td>
                                                        <td>$500.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Eco Tax (-1.00):</b></td>
                                                        <td>$7.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>VAT (7.4%):</b></td>
                                                        <td>$80.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="color-active">
                                                        <td><b>Total:</b></td>
                                                        <td><b>$575.99</b></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <a href="#" class="btn-read pull-right">Checkout</a>
                                                <a href="#" class="btn-read pull-right">View Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /header-mini-cart -->
                                <div class="top-icons">
                                    <div class="top-icon"><a href="" title="Wishlist"><i class="fa fa-heart"></i></a></div>
                                    <div class="top-icon"><a href="" title="Notification"><i class="fa fa-bell"></i></a><span>12</span></div>
                                    <div class="top-icon"><a href="" title="Login"><i class="fa fa-lock"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="header-main-block2">
                <nav class="navbar yamm  navbar-main" role="navigation">

                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            <a href="index.html" class="navbar-brand"><i class="fa fa-home"></i></a>
                        </div>
                        <div id="navbar-collapse-1" class="navbar-collapse collapse ">
                            <ul class="nav navbar-nav"></ul>
                            <ul class="nav navbar-nav navbar-right"></ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- /header-main-menu -->
    </div>
</header>
<!-- End header -->
<section>
    <div class="second-page-container">
        <div class="block">
            <div class="container">
                <div class="header-for-light">
                    <h1 class="wow fadeInRight animated" data-wow-duration="1s"><span>Login</span> or <span>Register</span></h1>
                </div>
                <div class="row">
                    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s">
                            <h3><i class="fa fa-unlock"></i>Login</h3>
                            <p>Please login using your existing account</p>
                            <form th:action="@{/login}" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" id="username" name="username" class="input-text" placeholder="Email"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" id="password" name="password" class="input-text" placeholder="Password"/>
                                    </div>
                                    <div class="col-md-12">
                                        <hr>
                                        <input type="submit"  value="Login"  class="btn-default-1">
                                    </div>
                                    <div th:if="${param.error}" class="alert alert-danger alert-dismissable" >
                                        <i class="icon fa fa-ban"></i>
                                        <span th:text="#{error.login_failed}">Invalid Email and Password.</span></p>
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-info alert-dismissable" >
                                        <i class="icon fa fa-info"></i> <span th:text="#{info.logout_success}">You have been logged out.</span></p>
                                    </div>
                                    <div th:if="${info!=null}" class="alert alert-warning alert-dismissable" >
                                        <i class="icon fa fa-warning"></i> <span th:text="${info}"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="block-form box-border wow fadeInRight animated" data-wow-duration="1s">
                            <h3><i class="fa fa-pencil"></i>Create new account</h3>
                            <p>Registration allows you to follow up every order you make on this website.</p>
                            <hr>
                            <a href="#" th:href="@{/register}" th:text="#{label.register}" class="btn-default-1">Register</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block color-scheme-white-90">
        <div class="container">
        </div>
    </div>
</section>


<footer>
    <div class="social">
        <div class="container">
        </div>
    </div>

    <div class="footer-information">
        <div class="container">
        </div>
    </div>

    <div class="footer-copy color-scheme-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p class="text-center">
                        <a href="#">Copyright В© 2018</a> All rights reserved.
                    </p>
                </div>
                <div class="col-md-4">
                    <ul class="footer-payments pull-right">
                        <li><img src="img/payment-maestro.jpg" alt="payment" /></li>
                        <li><img src="img/payment-discover.jpg" alt="payment" /></li>
                        <li><img src="img/payment-visa.jpg" alt="payment" /></li>
                        <li><img src="img/payment-american-express.jpg" alt="payment" /></li>
                        <li><img src="img/payment-paypal.jpg" alt="payment" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Section footer -->
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/jquery.easing.1.3.js"></script>
<script src="js/vendor/bootstrap.js"></script>

<script src="js/vendor/jquery.flexisel.js"></script>
<script src="js/vendor/wow.min.js"></script>
<script src="js/vendor/jquery.transit.js"></script>
<script src="js/vendor/jquery.jcountdown.js"></script>
<script src="js/vendor/jquery.jPages.js"></script>
<script src="js/vendor/owl.carousel.js"></script>

<script src="js/vendor/responsiveslides.min.js"></script>
<script src="js/vendor/jquery.elevateZoom-3.0.8.min.js"></script>

<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="js/vendor/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="js/vendor/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/vendor/jquery.scrollTo-1.4.2-min.js"></script>

<!-- Custome Slider  -->
<script src="js/main.js"></script>

<!--Here will be Google Analytics code from BoilerPlate-->
</body>
</html>